footer {
  height: 30%;
  background-color: var(--bg-footer);
  text-align: center;
  color: #333;
}

footer .logoFooter{
  font-size: 20px;
  color: #464FAE;
}

footer * {
  font-size: 14px;
  color: #464545;
}

.footerContainer img {  
  height: 12.5rem;
  width: 12.5rem;
}

footer p {
  margin: 0;
}

.informationLinks { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informationLinks a {
  padding-top: 0.5rem;
}

.footerContact {
  display: flex;
  flex-direction: column;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.informationLinks a:hover {
  text-decoration: underline;
}
