.carouselHome{
  margin-top: 8.5rem;
}

.titleHome{
  color: #464FAE;
}

#carousel img {
  object-fit: fill;
}

.btnSeeMoreCategory {
  width: 250px;
  border: 1px solid #000;
  text-align: center;
}

.btnSeeMoreCategory:hover {
  background: #171717;
  color: #fff;
  text-align: center;
}

.titles {
  text-align: center;
}

.advertisingContainer {
  height: 15.625rem;
  width: 100%;
}

.linkAdvertising {
  width: 50%;
  height: 40%;
  margin-top: 10rem;
  border-radius: 10px;
}

.linkAdvertising img {
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}
