@media all and (min-width:576px){
  .btnNav{
    width: 30%;
  }

  .containerOrderSummary{
    position:static;
  }
  
  .cardOrderSummaryBody{
    background:#fff;
    color: #000;
  }
}

@media all and (min-width:768px){
  .btnNav{
    width: 95%;
    margin-right: 5px;
  }

  .navItemSearch{
    width: 25rem;
    text-align: center;
  }

  .navItemSearch div{
    width: 20rem;
    text-align: center;
  }

  .navItemSearch div input{
    width: 100%;
  }

  .formComment,
  .containerComments{
  width: 75%;
}

.cardProduct{
  height: 280px;
}

.cardProduct .imgCardHome{
  width:75%;
}
}


@media all and (min-width:992px){
  .btnNav{
    width: 75%;
  }

  .cardProduct .imgCardHome{
    width:75%;
  }
}

@media all and (min-width:1200px){
  .btnNav{
    width: initial;
  }

  .navItemSearch div{
    width: 25rem;
    text-align: center;
  }

  .cardProduct{
    height: 310px;
  }
}

@media all and (min-width:1400px){
  .navbar-nav li{
    width: initial;
   }
}