.navbar{
  background:var(--bg-dark);
  height: 130px;
}

.navbar-toggler{
  background-color: #c9c9c9;
}

.canvas{
  background:var(--bg-dark);
}

.navbar-collapse{
  background:var(--bg-dark);

}

.navbar-nav li{
 width: 100%;
}

.logoNav{
  width: 7.5rem;
  height: 7.5rem;
}

.navLink{
  color: #fff;
}

.navLink:hover{
  color: var(--bg-light-dark);
}

.search{
  cursor: pointer;
}

.inputSearch{
  width: 280px;
  background: #000000;
  background: #171717;
  border:1px solid gray;
}

.inputSearch::placeholder{
  color: #dddcdc;
}

.inputSearch:focus{
  background: #171717;
  color: #fff;
}

.iconCart{
  color: #fff;
}

.iconCart:hover{
  color:var(--bg-light-dark);
}

.itemLogin a{
  width: 100%;
}

@media all and (min-width:1200px){
  .inputSearch{
    width: 250px;
  }

  .itemLogin{
    min-width: 135px;
  }

  .itemLogin a{
    width: 100%;
  }
}