.navbar{
  background:var(--bg-dark);
  height: 130px;
}

.navbar-collapse{
  background:var(--bg-dark);

}

.navbar-nav li{
 width: 100%;
}

.logoNav{
  width: 7.5rem;
  height: 7.5rem;
}

.navLink{
  color: #fff;
}

.navLink:hover{
  color: var(--bg-light-dark);
}

.search{
  cursor: pointer;
}

.inputSearch{
  background: #000000;
  background: #171717;
  border:1px solid gray;
}

.inputSearch::placeholder{
  color: #dddcdc;
}

.inputSearch:focus{
  background: #171717;
  color: #fff;
}

.iconCart{
  color: #fff;
}

.iconCart:hover{
  color:var(--bg-light-dark);
}

.navItemSearch{
  width: 14rem;
  text-align: center;
}

.navItemSearch div{
  width: 15.31rem;
  max-width: 25rem;
  text-align: center;
}

.navItemSearch div input{
  width: 300px;
}