@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root{
  --bg-dark:#171717;
  --text-hoverOptionsNav:#FC6B3F;
  --bg-hoverButtonsNav: #d46464;
  --bg-main: #fff;
  --bg-light-dark: #bab5b5;
  --bg-hoverBtnComment: #666;
  --bg-footer: #F5F5F5;
  --text-titleFooter: #F2DEBA;
  --bg-cardUs: #ecedfc;
  --color-primary: #ea6c6c;
}

.form-control:focus{
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

.accordion-button{
  width: 10rem;
  background-color: rgb(236, 235, 235);
}

.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d90062'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d90062'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button{
  width: 10rem;
  background-color: rgb(236, 235, 235);
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Sora','DM Sans';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  margin-top: -35px;
  flex-grow: 1;
  background-color: var(--bg-main);
}

.btnWppFixed{
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
}

.btnWppFixed i {
  font-size: 50px;
}

.cardProduct{
  width: 85%;
  background: #fff;
  min-height: 375px;
  border: 1px solid #e9e9e9;
}

.cardProduct:hover{
  border: 1px solid #c2c1c1;
}

.cardProduct .imgCardHome{
  background: #fff;
  width: 65%;
  max-height: 12rem;
  object-fit: cover;
}

.cardProduct .price{
  color: #464FAE;
}

.cardProduct .titleProduct{
  font-size: 14px;
  font-weight: normal;
}

.btnSeeMore{
  width: 100%;
  display: block;
  text-align: center;
  background: #171717;
  color: #fff;
}

.btnSeeMore:hover{
  background: #000;
}

@media all and (min-width:768px){
  .cardProduct{
    width: 100%;
  }
}